:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(73.33%, 56.08%, 81.57%);
}

#panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 6%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

h3 {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Jockey One", sans-serif;
  font-weight: 20px;
  font-style: normal;
}
.buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
  margin-top: 35%;
  transform: rotate(270deg);
}

.home {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#homePage {
  display: flex;
  width: 80%;
  height: 100%;
  background-color: black;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#WELCOME {
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

#welcomePage {
  display: flex;
  border-bottom: 1px solid white;
  margin: 0;
  padding: 0;
  height: 10%;
  width: 45%;
  margin-top: 8%;
  margin-right: 44%;
  flex-direction: column;
}

.bitEmoji {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 230px;
  border: 1px solid black;
  margin-top: 20%;
  margin-left: 35%;
  border-radius: 650px;
  background: linear-gradient(rgb(73.33%, 56.08%, 81.57%), black);
}

.emojiContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
}

.icons {
  display: flex;
  font-size: 20px;
  padding: 20px;
}

.iconsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 40%;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.MatDev {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 0;
  padding: 0;
  padding-top: 6%;
  justify-content: center;
}

.underContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-top: 10%;
}

.underIcons {
  display: flex;
  font-size: 25px;
  padding: 20px;
  padding-left: 10%;
}

.skills {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.panelSkills {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: black;
  justify-content: center;
  flex-direction: column;
}

.skillsTitle {
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  margin-left: 3%;
}

.skillsContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, rgb(73.33%, 56.08%, 81.57%));
  flex-direction: column;
}
.line {
  display: flex;
  border-top: 1px solid white;
  width: 50%;
  margin-left: 3%;
  margin-top: 1%;
}

.skillsIconsContainer {
  display: flex;
  border-radius: 10%;
  width: 300px;
  height: 200px;
  margin: 20px;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}

.firstSkills {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: space-around;
}

.secondSkills {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: space-around;
}

.iconsImg {
  display: flex;
  height: 81px;
  width: 81px;
}

.logoTitle {
  display: flex;
  color: white;
}