<div id="panel">
  <div>
    <a href="#home"
      ><div class="buttons"><h3>HOME</h3></div></a
    >
    <a href="#skills"
      ><div class="buttons"><h3>SKILLS</h3></div></a
    >
    <a href="projects"
      ><div class="buttons"><h3>PROJECTS</h3></div></a
    >
  </div>
  <div class="iconsContainer">
    <a href="https://www.instagram.com/mat.oliver28/?next=%2F"
      ><i class="icons fi fi-brands-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/matheus-oliveira-847ab4301/"
      ><i class="icons fi-brands-linkedin"></i
    ></a>
    <a href="https://github.com/Mat2810"
      ><i class="icons fi fi-brands-github"></i
    ></a>
  </div>
</div>
<div class="container">
  <section class="home" id="home">
    <div id="homePage">
      <div id="welcomePage">
        <h1 id="WELCOME">WELCOME .</h1>
        <p>
          Sou Matheus Oliveira, um desenvolvedor front-end recentemente
          ingressado nessa área. Apesar da minha pouca experiência, já
          desenvolvi alguns projetos relevantes nesse campo. Tenho grande
          interesse em criar interfaces de última geração, com atenção aos
          mínimos detalhes dos pixels e uma implementação intuitiva da
          experiência do usuário. A busca pela perfeição estética e pela
          excelência na experiência do usuário é algo que me motiva
          profundamente. Reconheço os desafios associados a esses objetivos, mas
          os encaro como oportunidades de aprendizado e crescimento.
        </p>
      </div>
    </div>
    <div class="emojiContainer">
      <div class="bitEmoji">
        <img
          src="../assets/img/laptop wave.png"
          alt=""
          width="200px"
          height="200px"
        />
      </div>
      <h1 class="MatDev">MatDev</h1>
      <div class="underContainer">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="email"
          class="underIcons"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="call"
          class="underIcons"
        ></mat-icon>
      </div>
    </div>
    <div class="infoContainer"></div>
  </section>
  <section id="skills" class="skills">
    <div class="panelSkills">
      <h1 class="skillsTitle">
        Essas são algumas das habilidades que aprendi ao longo dos anos.
      </h1>
      <div class="line"></div>
    </div>
    <div class="skillsContainer">
      <div class=""></div>
      <div class="skillsIconsContainer"></div>
      <div class="skillsIconsContainer"></div>
      <div class="skillsIconsContainer"></div>
      <div class="skillsIconsContainer"></div>
    </div>
  </section>
  <section id="projects"></section>
</div>
