<div id="panel">
  <div>
    <a href="#home"
      ><div class="buttons"><h3>HOME</h3></div></a
    >
    <div class="buttons"><h3>SKILLS</h3></div>
    <div class="buttons"><h3>PROJECTS</h3></div>
  </div>
  <div class="iconsContainer">
    <a href="https://www.instagram.com/mat.oliver28/?next=%2F"><i class="icons fi fi-brands-instagram"></i></a>
    <a href="https://www.linkedin.com/in/matheus-oliveira-847ab4301/"><i class="icons fi-brands-linkedin"></i></a>
    <a href="https://github.com/Mat2810"><i class="icons fi fi-brands-github"></i></a>
  </div>
</div>
<div class="container">
  <section class="home" id="home">
    <div id="homePage">
      <div id="welcomePage">
        <h1 id="WELCOME">WELCOME .</h1>
      </div>
    </div>
    <div id="bitEmoji">
      <img
        src="../assets/img/laptop wave.png"
        alt=""
        width="100px"
        height="100px"
      />
    </div>
  </section>
  <section class="home">
    <div id="homePage">
      <div id="welcomePage">
        <h1 id="WELCOME">WELCOME .</h1>
      </div>
    </div>
    <div id="bitEmoji">
      <img
        src="../assets/img/laptop wave.png"
        alt=""
        width="100px"
        height="100px"
      />
    </div>
  </section>
</div>
