:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(73.33%, 56.08%, 81.57%);
}

#panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 6%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

h3 {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Jockey One", sans-serif;
  font-weight: 20px;
  font-style: normal;
}
.buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
  margin-top: 35%;
  transform: rotate(270deg);
}

.home {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#homePage {
  display: flex;
  width: 80%;
  height: 100%;
  background-color: black;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#WELCOME {
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

#welcomePage {
  display: flex;
  border-bottom: 1px solid white;
  margin: 0;
  padding: 0;
  height: 10%;
  width: 45%;
  margin-top: 8%;
  margin-right: 44%;
  flex-direction: column;
}

.bitEmoji {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.emojiContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
}

.icons {
  display: flex;
  font-size: 20px;
  padding: 20px;
}

.iconsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

p {
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 40%;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}