:host {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(73.33%, 56.08%, 81.57%);
}


#panel {
    display: flex;
    border: 2px solid black;
    height: 100%;
    width: 6%;
    margin: 0;
    padding: 0;
}

h3 {
    display: flex;
    padding: 0;
    margin: 0;
}
#panelHome {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    margin-top: 20%;
    transform: rotate(90deg);
}

#panelSkills {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    margin-top: 20%;
    transform: rotate(90deg);
}

#panelProjects {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    margin-top: 20%;
    transform: rotate(90deg);
}